@import "tailwindcss";

@theme {
  --font-vazirmtn: var(--font-vazirmtn);
  --font-mikhak: var(--font-mikhak);
  --color-primary: #82b29a;
  --color-primaryDark: #5a8d76;
  --color-mint: #d7f0e4;
  --color-lightBg: #f9faf9;
  --color-textMain: #2c2c2c;
  --color-textSubtle: #7d837f;
  --color-border: #e0e4e2;
  --color-accent: #e8c97a;
  --color-accent-hover: #d9b85e;
}

@layer base {
  body {
    direction: rtl;
    font-family: var(--font-vazirmtn);
    @apply bg-lightBg;
  }
  h1,
  h2 {
    @apply font-mikhak font-black text-gray-900;
  }
  h3,
  h4,
  h5 {
    @apply font-mikhak font-bold text-gray-800;
  }
  h1 {
    @apply text-2xl sm:text-3xl;
  }
  a {
    @apply font-mikhak font-semibold;
  }
  p {
    @apply font-vazirmtn font-medium text-gray-700;
  }
}
@layer components {
  .btn {
    @apply px-2 text-sm md:text-base sm:px-4 py-2 flex items-center rounded-md shadow transition shadow-transparent font-vazirmtn font-semibold;
  }
  .btn.primary {
    @apply bg-primaryDark text-white hover:bg-primary;
  }
  .btn.accent {
    @apply bg-accent text-textMain hover:bg-accent-hover;
  }
  .nav-link {
    @apply text-[16px]   px-2 md:px-2 text-center md:text-right w-full  md:text-base py-2 text-gray-700 hover:text-primaryDark flex items-center justify-center md:justify-start transition duration-200 ease-in-out;
  }
  /* From Uiverse.io by SchawnnahJ */ 
.loader {
  position: relative;
  width: 2.5em;
  height: 2.5em;
  transform: rotate(165deg);
 }
 
 .loader:before, .loader:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  transform: translate(-50%, -50%);
 }
 
 .loader:before {
  animation: before8 2s infinite;
 }
 
 .loader:after {
  animation: after6 2s infinite;
 }
 
 @keyframes before8 {
  0% {
   width: 0.5em;
   box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
  }
 
  35% {
   width: 2.5em;
   box-shadow: 0 -0.5em rgba(225, 20, 98, 0.75), 0 0.5em rgba(111, 202, 220, 0.75);
  }
 
  70% {
   width: 0.5em;
   box-shadow: -1em -0.5em rgba(225, 20, 98, 0.75), 1em 0.5em rgba(111, 202, 220, 0.75);
  }
 
  100% {
   box-shadow: 1em -0.5em rgba(225, 20, 98, 0.75), -1em 0.5em rgba(111, 202, 220, 0.75);
  }
 }
 
 @keyframes after6 {
  0% {
   height: 0.5em;
   box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
  }
 
  35% {
   height: 2.5em;
   box-shadow: 0.5em 0 rgba(61, 184, 143, 0.75), -0.5em 0 rgba(233, 169, 32, 0.75);
  }
 
  70% {
   height: 0.5em;
   box-shadow: 0.5em -1em rgba(61, 184, 143, 0.75), -0.5em 1em rgba(233, 169, 32, 0.75);
  }
 
  100% {
   box-shadow: 0.5em 1em rgba(61, 184, 143, 0.75), -0.5em -1em rgba(233, 169, 32, 0.75);
  }
 }
 
 .loader {
  position: absolute;
  top: calc(50% - 1.25em);
  left: calc(50% - 1.25em);
 }
}
@utility container {
  @apply mx-auto px-4 md:px-8;
}
